In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mahebourg,MU,2022-04-20 20:15:49,-20.4081,57.7000,77.25,94,40,5.75
1,1,Yeppoon,AU,2022-04-20 20:15:49,-23.1333,150.7333,71.38,86,84,9.86
2,2,Barrow,US,2022-04-20 20:15:41,71.2906,-156.7887,3.22,78,0,10.36
3,3,Avarua,CK,2022-04-20 20:15:50,-21.2078,-159.7750,77.05,69,75,14.97
4,4,Hermanus,ZA,2022-04-20 20:15:51,-34.4187,19.2345,63.36,83,100,2.06

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
   # temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mahebourg,MU,2022-04-20 20:15:49,-20.4081,57.7000,77.25,94,40,5.75
3,3,Avarua,CK,2022-04-20 20:15:50,-21.2078,-159.7750,77.05,69,75,14.97
5,5,Rikitea,PF,2022-04-20 20:15:49,-23.1203,-134.9692,78.57,72,2,19.04
9,9,Bandarbeyla,SO,2022-04-20 20:15:55,9.4942,50.8122,81.09,72,5,8.23
14,14,Lompoc,US,2022-04-20 20:13:02,34.6391,-120.4579,75.69,63,0,17.27
17,17,Cayenne,GF,2022-04-20 20:16:00,4.9333,-52.3333,77.09,1,75,5.75
24,24,Vaini,TO,2022-04-20 20:16:04,-21.2000,-175.2000,77.16,94,75,5.75
34,34,Wawa,NG,2022-04-20 20:16:10,9.9022,4.4192,85.51,58,100,5.03
36,36,Puerto Ayora,EC,2022-04-20 20:16:12,-0.7393,-90.3518,78.76,82,100,9.04
37,37,Sulphur,US,2022-04-20 20:16:12,30.2366,-93.3774,82.36,67,100,28.77

In [19]:
preferred_cities_df.count()

City_ID       158
City          158
Country       158
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0      Mahebourg      MU     77.25 -20.4081   57.7000
3         Avarua      CK     77.05 -21.2078 -159.7750
5        Rikitea      PF     78.57 -23.1203 -134.9692
9    Bandarbeyla      SO     81.09   9.4942   50.8122
14        Lompoc      US     75.69  34.6391 -120.4579
17       Cayenne      GF     77.09   4.9333  -52.3333
24         Vaini      TO     77.16 -21.2000 -175.2000
34          Wawa      NG     85.51   9.9022    4.4192
36  Puerto Ayora      EC     78.76  -0.7393  -90.3518
37       Sulphur      US     82.36  30.2366  -93.3774

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Mahebourg,MU,77.25,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
3,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
5,Rikitea,PF,78.57,-23.1203,-134.9692,People ThankYou
9,Bandarbeyla,SO,81.09,9.4942,50.8122,JABIR HOTEL
14,Lompoc,US,75.69,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
17,Cayenne,GF,77.09,4.9333,-52.3333,Hôtel Le Dronmi
24,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
34,Wawa,NG,85.51,9.9022,4.4192,
36,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel
37,Sulphur,US,82.36,30.2366,-93.3774,Fairfield Inn & Suites by Marriott Lake Charle...

In [40]:
# Store the DataFrame Row.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
# Store the DataFrame Row.

"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))