## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bredasdorp,ZA,-34.5322,20.0403,57.61,73,78,5.55,light rain
1,1,Port Hardy,CA,50.6996,-127.4199,48.38,87,75,18.41,light rain
2,2,Coquimbo,CL,-29.9533,-71.3436,58.73,88,75,6.91,broken clouds
3,3,Riyadh,SA,24.6877,46.7219,75.34,45,95,13.27,overcast clouds
4,4,Vaini,TO,-21.2000,-175.2000,82.56,74,75,4.61,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Riyadh,SA,24.6877,46.7219,75.34,45,95,13.27,overcast clouds
4,4,Vaini,TO,-21.2000,-175.2000,82.56,74,75,4.61,broken clouds
6,6,Aitape,PG,-3.1374,142.3475,80.28,85,88,3.94,overcast clouds
8,8,Saint-Philippe,RE,-21.3585,55.7679,74.79,79,90,14.03,light rain
9,9,Rikitea,PF,-23.1203,-134.9692,73.02,89,100,16.44,moderate rain
13,13,Autazes,BR,-3.5797,-59.1306,76.08,96,59,2.77,broken clouds
17,17,Kapaa,US,22.0752,-159.3190,75.47,82,23,5.01,few clouds
23,23,Kavieng,PG,-2.5744,150.7967,83.75,71,100,7.61,overcast clouds
30,30,Guangzhou,CN,23.1167,113.2500,78.75,79,19,8.19,few clouds
37,37,Avarua,CK,-21.2078,-159.7750,80.65,83,40,11.50,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                287
City                   287
Country                287
Lat                    287
Lng                    287
Max Temp               287
Humidity               287
Cloudiness             287
Wind Speed             287
Current Description    287
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Riyadh,SA,75.34,overcast clouds,24.6877,46.7219,
4,Vaini,TO,82.56,broken clouds,-21.2000,-175.2000,
6,Aitape,PG,80.28,overcast clouds,-3.1374,142.3475,
8,Saint-Philippe,RE,74.79,light rain,-21.3585,55.7679,
9,Rikitea,PF,73.02,moderate rain,-23.1203,-134.9692,
13,Autazes,BR,76.08,broken clouds,-3.5797,-59.1306,
17,Kapaa,US,75.47,few clouds,22.0752,-159.3190,
23,Kavieng,PG,83.75,overcast clouds,-2.5744,150.7967,
30,Guangzhou,CN,78.75,few clouds,23.1167,113.2500,
37,Avarua,CK,80.65,light rain,-21.2078,-159.7750,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Riyadh,SA,75.34,overcast clouds,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
4,Vaini,TO,82.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
6,Aitape,PG,80.28,overcast clouds,-3.1374,142.3475,
8,Saint-Philippe,RE,74.79,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
9,Rikitea,PF,73.02,moderate rain,-23.1203,-134.9692,People ThankYou
13,Autazes,BR,76.08,broken clouds,-3.5797,-59.1306,Hotel Tupinambá
17,Kapaa,US,75.47,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
23,Kavieng,PG,83.75,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
30,Guangzhou,CN,78.75,few clouds,23.1167,113.2500,Shangjiuwan Hotel
37,Avarua,CK,80.65,light rain,-21.2078,-159.7750,Paradise Inn

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace = True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Riyadh,SA,75.34,overcast clouds,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
4,Vaini,TO,82.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
8,Saint-Philippe,RE,74.79,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
9,Rikitea,PF,73.02,moderate rain,-23.1203,-134.9692,People ThankYou
13,Autazes,BR,76.08,broken clouds,-3.5797,-59.1306,Hotel Tupinambá
17,Kapaa,US,75.47,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
23,Kavieng,PG,83.75,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
30,Guangzhou,CN,78.75,few clouds,23.1167,113.2500,Shangjiuwan Hotel
37,Avarua,CK,80.65,light rain,-21.2078,-159.7750,Paradise Inn
40,Hithadhoo,MV,84.25,broken clouds,-0.6000,73.0833,Scoop Guest House

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))